@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styles for the Image Generator App */
:root {
    --primary-color: #ffd200;
    --secondary-color: #f4f4f4;
    --accent-color: #ff6b6b;
    --text-color: #0a0f12;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    /* Updated font-family to include Poppins */
    margin: 0;
    padding: 20px;
    color: var(--text-color);
}

button {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    font-size: .85em !important;
}

h1 {
    color: #333;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#facebook-preview,
#linkedin-preview,
#twitter-preview {
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
}

#facebook-preview.dark {
    background-image: url('/public/assets/img/fb-dark.jpg');
}

#linkedin-preview.dark {
    background-image: url('/public/assets/img/linkedin-dark.jpg');
}

#twitter-preview.dark {
    background-image: url('/public/assets/img/x-dark.jpg');
}

#facebook-preview.light {
    background-image: url('/public/assets/img/fb-light.jpg');
}

#linkedin-preview.light {
    background-image: url('/public/assets/img/linkedin-light.jpg');
}

#twitter-preview.light {
    background-image: url('/public/assets/img/x-light.jpg');
}

.image-preview {
    margin-bottom: 2em;
}

p.achieved-audit {
    font-size: 2.6em;
    font-weight: bold;
}

p.achieved-audit {
    color: #fff;
}

p.achieved-audit span {
    color: var(--primary-color);
}

p.date {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

h4.company-name {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.image-preview .logo {
    max-height: 30em;
}

img.service-image {
    max-width: 20em;
}